<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Hologram staging</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.2060.mobileagent.st</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMenuModuleStaging</string>
				<string>didcomm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2000000</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSCameraUsageDescription</key>
	<string>Hologram uses your camera to scan invitations and take pictures to share with your connections.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Hologram uses Face ID to protect your wallet.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to location services due to third-party dependencies. However, we do not collect or store your location data.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hologram uses your microphone to record voice notes you can share with your connections. These notes are end-to-end encrypted.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Hologram accesses gallery to save photos and videos you have received.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hologram accesses gallery to let you pick pictures and videos to share with your connections. This data will be end-to-end encrypted</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.io.2060.mobileagent.m</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Hologram</string>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>SFPro-Bold.otf</string>
		<string>SFPro-Light.otf</string>
		<string>SFPro-Medium.otf</string>
		<string>SFPro.ttf</string>
		<string>EuclidCircularA-Bold.ttf</string>
		<string>EuclidCircularA-BoldItalic.ttf</string>
		<string>EuclidCircularA-Italic.ttf</string>
		<string>EuclidCircularA-Light.ttf</string>
		<string>EuclidCircularA-LightItalic.ttf</string>
		<string>EuclidCircularA-Medium.ttf</string>
		<string>EuclidCircularA-MediumItalic.ttf</string>
		<string>EuclidCircularA-Regular.ttf</string>
		<string>EuclidCircularA-SemiBold.ttf</string>
		<string>EuclidCircularA-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreenStaging.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
		<string>A0000002472001</string>
		<string>00000000000000</string>
	</array>
	<key>NFCReaderUsageDescription</key>
	<string>This app uses NFC to scan passports</string>
</dict>
</plist>
