<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>io.2060.mobileagent.m</key>
		<string>Hologram app - GH CI/CD</string>
		<key>io.2060.mobileagent.m.share</key>
		<string>Hologram app share extension - GH CI/CD</string>
	</dict>
	<key>compileBitcode</key>
	<false/>
	<key>iCloudContainerEnvironment</key>
	<string>Production</string>
</dict>
</plist>
