<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm7uWuFsKq3q7znfe-YCbcYgfvXG1zutk</string>
	<key>GCM_SENDER_ID</key>
	<string>97387742563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.2060.mobileagent.dev</string>
	<key>PROJECT_ID</key>
	<string>hologram-51078</string>
	<key>STORAGE_BUCKET</key>
	<string>hologram-51078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97387742563:ios:5bc9b8ca3978a510cc7f56</string>
</dict>
</plist>